body {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/28/10/48/child-1864718_1280.jpg);
    background-size: cover;
}

.howToPlay {
    background-color: #F1E6A5;
    width: 300px;
    height: 300px;
    z-index: -1;
    padding: 5px 10px 0px 10px;
    position: absolute;
    margin-left: 10px;
    margin-top: 140px;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
}

.buttonContainer {
    width: 650px;
    height: 610px;
    border: solid 3px;
    border-radius: 25px;
    background-color: #7a0400;
    margin: 0px auto;
    text-align: center;
}

button {
    margin: 10px auto;
    font-family: 'Righteous', cursive;
    border-radius: 5px;
}

button:focus {
    background-color: rgb(43, 43, 43);
    color: white;
}

.brand {
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    color: #C96E4B;
    margin: 0px auto;
}

.bottomPart {
    display: flex;
    
}

.fakeButton {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: solid 4px;
    background-color: rgb(194, 194, 194);
    
}

.fakeButton.left {
    position: absolute;
    margin-left: 10px;
}

.fakeButton.right {
    position: absolute;
    margin-left: 600px;
}

.container {
    width: 550px;
    height: 520px;
    overflow: hidden;
    margin: 0px auto 0px auto;
    background-color: #333438;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid 2px;
    border-radius: 10px;
}

.square {
    background-color: hsl(220, 9%, 80%);
    opacity: 1;
    margin: 0px;
    box-sizing: border-box;
    border: solid 0.01px;
    border-color:  hsl(220, 9%, 70%);
}



